@import "tailwindcss";
@plugin "daisyui";
@import "leaflet/dist/leaflet.css";



@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

/* module.exports = {
  theme: {
    extend: {
      animation: {
        'gradient-x': 'gradientX 10s ease infinite',
      },
      keyframes: {
        gradientX: {
          '0%, 100%': { backgroundPosition: '0% 50%' },
          '50%': { backgroundPosition: '100% 50%' },
        },
      },
    },
  },
}; */
